@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-offset: 28px;
  }

  @media (min-width: 1024px) {
    :root {
      --header-offset: 36px;
    }
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-offset);
  }

  body {
    @apply font-roboto text-body;
  }
}
